page-modalpage{
  ion-content.content-ios,ion-content.content-md{
    background-color: rgba(0,0,0,0.28);
  }
  ion-content{
    .content{
      position: absolute;
      bottom: 0;
      left:0;
      right:0;
      width:100%;
      height:50%;
      background-color: #fff;
    }

  }
  .loginborder{
    background-color:#fff;
    border:1px solid #ddd;
    border-radius: 6px;
    padding-left:10px;
    width:90%;
    margin: 10px auto;
  }
}
